/*

    Clyde Goodall 2020

*/

@font-face {
  font-family:"Montserrat";
  src: url("/font/Montserrat/Montserrat-Regular.ttf");

}

@font-face {
  font-family:"Roboto";
  src: url("/font/Roboto/Roboto-Regular.ttf");

}

@font-face {
  font-family:"Roboto Slab";
  src: url("/font/Roboto_Slab/RobotoSlab-Regular.ttf");
  font-weight:normal;
}

@font-face {
  font-family:"Roboto Slab";
  src: url("/font/Roboto_Slab/RobotoSlab-Medium.ttf");
  font-weight:medium;
}


@font-face {
  font-family: "Patua One";
  src: url("/font/Patua_One/PatuaOne-Regular.ttf");
}

body, html {
  scale:100%;
    width:100%;
    height:100%;
    margin:0;
}

/*

    UI [in order of visible components]
    container  
        -> landing page
            -> play menu
        -> info section
        -> footer

*/

.container {
    overflow-y:scroll;
    width:100%;
    height:100%;

}

.an {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.landing {
    background: rgb(153,82,148);
    background: linear-gradient(0deg, rgba(153,82,148,1) 0%, rgb(139, 0, 255) 100%);   
    min-height: 580px;
    max-height: 80%;
    width:100%;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*  top bar contains logo   */
.landing-splash {
    width:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    height:115px;
}

.splash {
    margin-top:90px;
    cursor:pointer;

    z-index:200;
    width:75%;
    height:auto;
}

/*  play menu UI   */
.landing-body {
    min-height:350px;
    width:inherit;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
}

.entry-form {
  flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
}

.landing-textfield {
    color:rgba(0,0,0, .85);
    background:white;
    border:1px solid rgba(0,0,0,.2);
    border-bottom:2px solid rgba(0,0,0, .2);
    border-radius:5px;
    margin:8px;
    outline:none;
    width: 250px;
    height:45px;
    font-size:13pt;
    font-family: 'Montserrat';
    box-sizing:border-box;
    padding-left:12px;
    padding-right:12px;
    
}

.landing-shadow {
    -webkit-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
}

.landing-button {

    border:none;
    color:rgba(0,0,0, .85);
    background:white;
    border-bottom:2px solid rgba(0,0,0, .2);

    border-radius:5px;
    margin:8px;
    outline:none;
    width: 250px;
    height:45px;
    font-size:13pt;
    font-family: 'Montserrat';
    box-sizing:border-box;
    padding-left:12px;
    padding-right:12px;
    
}

.landing-button:active {
  
    border-bottom:0px solid rgba(0,0,0, .2);
    border-top:2px solid rgba(0,0,0, .2);
    -webkit-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);
    box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);   
}

.err {
  height:auto;
  width:225px;
  color:white;
  display:none;
  background: rgba(255, 57, 57, .85);
  border-radius:8px;
  padding:12px;
  font-family:'Roboto';
  margin-bottom:5px;
}

/*right below landing splash */

.info-envelope {
    background:rgba(0,0,0, .04);
    -webkit-box-shadow: 0px -10px 59px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -10px 59px 10px rgba(0,0,0,0.2);
    box-shadow: 0px -10px 59px 10px rgba(0,0,0,0.2);
    display:flex;
    justify-content:center;
    width:100%;
    height:auto;
    padding-bottom:100px; 
    
}

.info-envelope-body {
    margin-top:10px;
    min-width:90%;
    max-width:95%;
    min-height:600px;
}

.spacer {
    white-space: pre;
    height:50px;
    width:50px;
}

.info-envelope .info-envelope-title, h1, h2 {
    font-family:'Patua One';
}

.info-envelope-title {
    width:80%;
    text-align:center;
    font-size:38pt;
    color:rgba(0,0,0 .98);
}

.info-envelope h2 {
    font-size:27pt;
    color:rgba(0,0,0 .98);
}

.info-envelope h3 {
    font-size:23pt;
    color:rgba(0,0,0 .98);
}

.info-envelope p {
    box-sizing:border-box;
    padding:20px;
    border-radius:14px;
    background:white;
    border:1px solid rgba(0,0,0, .06);
    -webkit-box-shadow: -4px 3px 25px -5px rgba(0,0,0,0.04);
    -moz-box-shadow: -4px 3px 25px -5px rgba(104, 59, 59, 0.04);
    box-shadow: -4px 3px 25px -5px rgba(0,0,0,0.04);
    color:rgba(0,0,0, .88);
    line-height:24pt;
    font-size:16pt;
    font-family:'Roboto';
}

.footer {
  min-height: 300px;
  max-height:auto;
  color:white;
  background:rgba(0,0,0, .8);
  display:flex;
  
}

.footer-item {
  box-sizing:border-box;
  padding:80px 0px 0px 80px;
  min-width:25%;
}

.footer-item p {
  font-family:'Roboto';
  font-size:11pt;
}

.footer a {
  color:white;
  outline:none;
  text-decoration:none;
  font-family:'Roboto';
}
.footer a:hover {
  text-decoration:underline;
}

.footer-section-title {
  font-family:'Roboto';
  font-weight:medium;
  font-size:12pt;
  margin-bottom:10px;
}


/* platforms */

@media (min-device-width: 999px) {
  .splash {
    width:250px;
    height:auto;
  }

  .info-envelope-body {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    min-width:600px;
    max-width:80%;
  }
  .info-envelope-body p {
    min-width:250px;
    max-width:70%;
  }
}


/* room view/ Game UI */


.fillScreen {
  -webkit-transition: all 1.0s eas-in-out;
  background:rgba(153,82,148,1);
  min-height:100%;
  max-height:100%;
  height:100%;

}

.game-flex {
  display:flex;
}

.game-ui {
  
  width:100%;
  height:100%;

  align-items:center;
  justify-content: center;
  display:flex;

}

.q-box {
  background:white;
  width:80%;
  min-height:200px;
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  font-family: 'Montserrat';
  box-sizing:border-box;
  padding:10px;
  
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  padding:25px;
}

.a-box {
  background:white;
  width:80%;
  min-height:100px;
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  font-family: 'Montserrat';
  box-sizing:border-box;
  
}

.load {

  animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards infinite;
  -webkit-animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)  forwards infinite;
  -moz-animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in-out  forwards infinite;
  width:120px;
  height:120px;
  margin-bottom:25px;
}

.q-body {
  
  text-align:left;
  width:auto;
}

.next-btn {
  background: rgba(242, 72, 219, 1);
  color:white;
}

.next-vtn:active {
  background: rgba(193, 56, 175, 1);
}



.q-box h1 {
  font-size:16pt;
}

.q-box .switcher {
  box-sizing:border-box;
  padding:10px;
  display:inherit;
  align-items:center;
  justify-content:center;
  border-top:1px solid rgba(0,0, 0, .1);
  width:100%;
}

.q-box .members {
  height:150px;
  overflow-y:scroll;
  width:100%;
}

.q-box .user {
  border-bottom:1px solid rgba(0,0,0, .09);
  box-sizing:border-box;
  padding:10px;
  width:auto;
  background:rgba(0,0,0, .02);
  margin-left:15px;
}

.q-box .menu {
  border-top:1px solid rgba(0,0,0, .1);
}




/* game ui platform specifics */
@media (min-width: 600px) {
  .q-box, .a-box {
    width:60%;
  }

  .load {
    margin-bottom:0px;
  }
}













/* FRANCO's STUFF */

.q-box-2 {
  background:white;
  width:50%;
  min-height:200px;
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 59px 5px rgba(0,0,0,0.2);
  font-family: 'Montserrat';
  box-sizing:border-box;
  padding:10px;
  
  display:flex;
  align-items: left;
  justify-content: center;
  flex-direction:column;
  padding:25px;
}

textarea.tbox {
  width: 70%;
}

textarea.panswer {
  margin-left: 30px;
  width: 50%;
}

.formfield * {
  vertical-align: middle;
}

.expand {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 22%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}

.expand:hover {
  -webkit-text-size-adjust: 200px;
  width: 400px;
}

/* animations */


/* ----------------------------------------------
 * Generated by Animista on 2020-2-17 21:15:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */

 @-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }

  @-webkit-keyframes load {
    0% {
      
    }
    100% {
      -webkit-transform:rotate(360deg);
    }
  }

  @keyframes load {
    0% {
      
    }
    100% {
      transform:rotate(360deg);
    }
  }
  

  /* platform queries */

