.load {

    animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards infinite;
    -webkit-animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)  forwards infinite;
    -moz-animation: load 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in-out  forwards infinite;
    width:120px;
    height:120px;
    margin-bottom:25px;
  }
  