.quiz-title {
    width:100%;
}

legend {
font-family:'Patua One';
font-size:16pt;
box-sizing:border-box;
padding:0px 10px 0px 10px;
}

fieldset {
  border-radius:10px;
  border:1px solid rgba(0,0,0, .1);
  padding-bottom: 10px;
}

.qc {
    box-sizing:border-box;
    width:100%;
    text-align:left;
  }

.upload {
    border:none;
    color:rgba(0,0,0, .85);
    background:rgba(0,0,0, .05);
    border-bottom:2px solid rgba(0,0,0, .2);

    border-radius:5px;
    margin:8px;
    outline:none;
    width: 175px;
    height:35px;
    font-size:13pt;
    font-family: 'Montserrat';
    box-sizing:border-box;
    padding-left:12px;
    padding-right:12px;
    
}

.upload:active {

    -webkit-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);
    box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.26);   
}

.quiz-textfield {
    color:rgba(0,0,0, .85);
    background:white;
    border:1px solid rgba(0,0,0,.2);
    border-bottom:2px solid rgba(0,0,0, .2);
    border-radius:5px;
    margin:8px;
    outline:none;
    width: 300px;
    height:80px;
    font-size:14pt;
    font-family: 'Montserrat';
    box-sizing:border-box;
    padding:15px;
}

.qa {
    width:80%;
    border: 2px solid rgba(0,0,0, .2);
    text-align:left;
    box-sizing:border-box;
    padding-left:5%;
}

.qa:active, .active {
    background:rgb(135, 255, 163);
}

.quiz-data {
    display:flex;
}

img {
    width: 100%;
    height:auto;
   
    object-fit: cover;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a-box {
    margin:5% 0% 5% 0%;
    width:100%;
    height:auto;
    flex-direction:column;
    
  }



@media (min-width:300px) {
    .quiz-data {
        flex-direction:column;
    }

    .qimg {
        width: 100%;
        height:auto;
        border-top:1px solid rgba(0,0,0, .1);
        object-fit: cover;
        border-bottom:1px solid rgba(0,0,0, .1);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .shifted-title {
        margin:5% 5% 5% 5%;
        font-size:14pt;
        font-weight:100;
    }
}
  

@media (min-width: 999px) {

    .quiz-data {
        flex-direction:row;
    }
    .qimg {
        width: 30%;
        height:auto;
        border-top:1px solid rgba(0,0,0, .1);
        object-fit: cover;
        border-bottom:1px solid rgba(0,0,0, .1);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .shifted-title {
        margin:5% 15% 5% 15%;
        font-size:18pt;
        font-weight:100;
    }
}